*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #e7d6fd;
    min-height: 150vh;
    border: 10px solid#1d1e1f;
}

.top_section h1{
    font-size: 80px;
    font-style: italic;
    font-weight: bold;
    color: #1d1e1f;
    
}

.top_section h4{
    text-align: end;
    font-size: 40px;

}
.content{
    
    max-width: 900px;
    margin: 0 auto;

}
.top_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.image_container{
    margin-top: 150px;
    border-radius: 160px;
    overflow: hidden;
}
.image_container,
img{

    width: 300px;
    height: 320px;
}

.about_section{
    margin-top: 50px;

}

.about_section h2{
    font-size: 60px;
    font-weight: 520;
    margin-bottom: 20px;
    font-style: italic;
}

.about_section p{
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-style: oblique;
    text-align: justify;
}


.biography_section h2{
    font-size: 25px;
    font-style: bold;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

.biography_section h4{
    font-size: 30px;
    font-style: bold;
    font-weight: 700;
    margin: 50px 0;
    font-style: italic;
}
.biography_section h3{
    font-size: 30px;
    font-style: bold;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

.biography_section h1{
    font-size: 25px;
    font-style: bold;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}
.biography_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-style: oblique;
    text-align: justify;
}
.biography_section ul{
    margin-bottom: 50px;
    margin-left : 50px;

}
.biography_section li{
    margin-bottom: 15px;
    
}
footer{
    margin: 50px 0;
}

footer p {
    text-align: end;
    font-size: x-large;
}